.checkout-page-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 50px auto;

  .item-details-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px;
    column-gap: 12px;
    row-gap: 30px;
  }
  .card {
    display: flex;
  }
}
